/*-----------------------------------*\
  #style.css
\*-----------------------------------*/

/**
 * copyright 2022 @codewithsadee
 */





/*-----------------------------------*\
  #CUSTOM PROPERTY
\*-----------------------------------*/

:root {

    /**
     * colors
     */
  
    --flourescent-blue: hsl(178, 100%, 49%);
    --heliotrope-gray: hsl(253, 15%, 70%);
    --russian-violet: hsl(252, 80%, 16%);
    --dark-violet: hsl(252, 100%, 12%);
    --space-cadet: hsl(247, 43%, 20%);
    --blue-ryb: hsl(221, 100%, 50%);
    --white: hsl(0, 0%, 100%);
  
    --gradient: linear-gradient(to right, var(--flourescent-blue), var(--blue-ryb));
  
    /**
     * typography
     */
  
    --ff-josefin: 'Josefin sans', sans-serif;
  
    --fs-1: 25px;
    --fs-2: 18px;
    --fs-3: 17px;
    --fs-4: 15px;
  
    --fw-500: 500;
    --fw-700: 700;
  
    /**
     * transition
     */
  
    --transition: 0.25s ease-in-out;
  
    /**
     * spacing
     */
  
    --section-padding: 30px;
  
  }
  


header
{
    width:100%;
    background-color: whitesmoke;
    position: fixed;
    z-index:2;
    background-color: #fff;
    width: 100%;
    border-bottom: 1px solid #e4e9f2;
    
    padding-right: 50px;
}


header .container{
    display: flex;
    justify-content: space-between;
}


.header .container .logo
{
    padding: 15px 0;
    height: 25px;

}

.header .container .logo img
{
   height:8px;
   width: 3px;

}


header nav ul{
    list-style-type: none;
}

header nav ul li
{
    display: inline-block;


}
header nav ul li a
{  display: inline-block;

  height: 75px;
  line-height: 75px;
  padding: 0 15px;
  text-decoration: none;
  text-transform:capitalize;
  font-weight: 400;
  color:rgb(58, 57, 127);
  text-shadow: 0 0 3px rgb(12, 4, 255);
  font-size:x-large;
  font-family: 'Poppins';
  transition: 0.3s;
}

header nav ul li a:hover
{
  background-color:whitesmoke!important;
  color: #e47105!important;
}



header nav ul li a:hover
{ background-color: var(--gray) ;

}
  
  
  
  
  /*-----------------------------------*\
    #RESET
  \*-----------------------------------*/
  
  *, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  button {
    font: inherit;
    background: none;
    border: none;
    cursor: pointer;
  }
  
  input {
    font: inherit;
    border: none;
    width: 100%;
  }
  
  :focus { outline-offset: 4px; }
  
  html {
    font-family: var(--ff-josefin);
    scroll-behavior: smooth;
  }
  
  body {
   
    color: var(--white);
  }
  
  ::-webkit-scrollbar { width: 10px; }
  
  ::-webkit-scrollbar-track {
    background: var(--dark-violet);
    border-left: 1px solid var(--space-cadet);
  }
  
  ::-webkit-scrollbar-thumb { background: hsla(0, 0%, 100%, 0.8); }
  
  ::-webkit-scrollbar-thumb:hover { background: hsla(0, 0%, 100%, 0.6); }
  
  
  
  
  
  /*-----------------------------------*\
    #REUSED STYLE
  \*-----------------------------------*/
  
  .btn {
    color: var(--white);
    font-size: var(--fs-4);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 9px 10px;
    border-radius: 4px;
  }
  
  .btn-primary {
    background: var(--gradient);
    background-size: 500%;
    background-position: right;
    padding: 15px 25px;
    gap: 8px;
    transition: background var(--transition);
  }
  
  .btn-primary:is(:hover, :focus) { background-position: left; }
  
  .btn-primary > ion-icon { font-size: 18px; }
  
  .btn-primary > span { margin-top: 3px; }
  
  .container { padding: 0 15px; }
  
  .h3 {
    color: var(--white);
    font-size: var(--fs-2);
    line-height: 1.5;
  }
  
  
  
  
  
  
  
  
  /*-----------------------------------*\
    #HERO
  \*-----------------------------------*/
  
  .hero { padding: 140px 0 var(--section-padding); }
  
  .hero-title {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .hero-text {
    color: var(--white);
    font-size: var(--fs-4);
    line-height: 1.8;
    margin-bottom: 20px;
  }
  
  .hero .btn-primary { margin-bottom: 25px; }
  
  .btn-title {
    background: var(--gradient);
    width: max-content;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: var(--fs-4);
    font-weight: var(--fw-700);
    margin-bottom: 25px;
  }
  
  .hero .btn-link {
    color: var(--white);
    font-size: var(--fs-4);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: max-content;
    background: var(--gradient);
    padding-bottom: 5px;
    background-size: 0 2px;
    background-repeat: no-repeat;
    background-position: 0 97%;
    border-radius: 4px;
    transition: background var(--transition);
  }
  
  .hero .btn-link:is(:hover, :focus) { background-size: 100% 2px; }
  
  .hero .btn-link { margin-bottom: 15px; }
  
  .hero-banner { display: none; }
  
  
  
  
  
  /*-----------------------------------*\
    #PODCAST
  \*-----------------------------------*/
  
  .podcast { padding: var(--section-padding) 0; }
  
  .podcast-list {
    display: grid;
    gap: 30px;
  }
    
  .podcast li {
   list-style: none;
   
  }
  
  .podcast-card {
       border-radius: 4px;
     }
  
  .card-banner {
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 20px;
    z-index: 1;
  }
  
  .card-banner::before {
    content: "";
    position: absolute;
    inset: 0;
  }
  
  .podcast-card:is(:hover, :focus) .card-banner::before {
    background: hsla(0, 0%, 100%, 0.1);
  }
  
  .card-banner img { width: 100%; }
  
  .card-banner-icon {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    display: grid;
    place-items: center;
    color: var(--white);
    border: 2px solid var(--white);
    border-radius: 50%;
    font-size: 20px;
    transition: var(--transition);
  }
  
  .podcast-card:is(:hover, :focus) .card-banner-icon {
    background: var(--white);
    color: var(--blue-ryb);
  }
  
  .card-meta {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    color: var(--heliotrope-gray);
    font-size: var(--fs-4);
    margin-left: 35px;
    margin-bottom: 15px;
  }
  

  
  .podcast-card .card-title {
    display: inline;
    padding: 3px 0;
    background: var(--gradient);
    background-position: 0 95%;
    background-repeat: no-repeat;
    background-size: 0 2px;
    transition: var(--transition);
  }
  
  .podcast-card:is(:hover, :focus) .card-title { background-size: 100% 2px; }
  
  
  
















/* footer  */
footer{
    position: relative;
    width:100%;
    height: 350px;
    padding:50px 100px;
    color: #f8f8f8;
    background-color: #9170c6;
  
    line-height: 22px;
    
    
  
  
  }
  .container_footer
  {
    width: 100%;
    display: grid;
    grid-template-columns: 1.3fr 1fr 1fr 1fr;
    grid-gap: 5px;
    font-size: 25px;
  
  }
  
  footer .container_footer .sec p
  { margin-left: 20px;
    margin-bottom: 15px;
    color: #ccecf9;
    font-size: 16px;
  
  }
   
  footer .container_footer .sec h5
  {
    margin-left:-30px;
  }
  .sci{
    margin-top: 20px;
    margin-left: -10px;
      margin-bottom: 15px;
    color: #ccecf9;
  }
  
  .sci li
  {
    list-style-type:circle;
    list-style-position: outside;
  }
  
  .sci li a{
   
    width: 48px;
    height: 48px;
   
    text-decoration: none;
    margin: 1px;
    color: #fff;
    color:#fff;
    margin-bottom: 15px;
    color: #ccecf9;
    font-size: 16px;
    
    
  }
  
  

  
  
  
  
  
  /*-----------------------------------*\
    #RESPONSIVE
  \*-----------------------------------*/
  
  /**
   * responsive for larger than 550px
   */
  
  @media (min-width: 550px) {
  
    /**
     * REUSED STYLE
     */
  
    .container {
      max-width: 500px;
      margin-inline: auto;
    }
  
  }
  
  
  
  

  
  
    /**
     * REUSED STYLE
     */
  
    .container { max-width: 680px; }
  
  
  
    /**
     * HERO
     */
  
    .hero-title { width: 90%; }
  
    .hero :is(.btn-primary, .btn-title, .btn-link) {
      --fs-4: 16px;
      margin-bottom: 0;
    }
  
    .hero-btn-group {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 25px;
    }
  
    .btn-link-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 25px;
    }
  
  
  
    /**
     * PODCAST
     */
  
    .podcast-list { grid-template-columns: 1fr 1fr; }
  
  
  
  

  
  
  /**
   * responsive for larger than 1024px
   */
  
  @media (min-width: 1024px) {
  
    /**
     * REUSED STYLE
     */
  
    .container { max-width: 980px; }
  
  
  
  
    /**
     * HERO
     */
  
    .hero-content {
      max-width: 680px;
      margin-inline: auto;
    }
  
  
  
    /**
     * PODCAST
     */
  
    .podcast-list { grid-template-columns: repeat(3, 1fr); }
  
  
  
    /**
     * NEWSLETTER
     */
  
    .newsletter-card {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 50px;
    }
  
    .newsletter-card .card-content,
    .card-form { width: 50%; }
  
    .newsletter-card .card-text,
    .newsletter-card .input-field { margin-bottom: 0; }
  
  }
  
  
  
  
  
  /**
   * responsive for larger than 1200px
   */
  
  @media (min-width: 1200px) {
  
    :root {
  
      /**
       * spacing
       */
  
      --section-padding: 60px;
  
    }
  
  
  
    /**
     * REUSED STYLE
     */
  
    .container { max-width: 1200px; }
  
  
  
  
    /**
     * HERO
     */
  
    .hero {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      gap: 30px;
      padding-top: 160px;
    }
  
    .hero-content {
      width: 95%;
      margin-inline: 0;
    }
  
    .hero-title {
      width: 100%;
      margin-bottom: 30px;
    }
  
    .hero-text { margin-bottom: 25px; }
  
    .hero-btn-group {
      flex-wrap: wrap-reverse;
      gap: 35px;
    }
  
    .hero :is(.btn-primary, .btn-title, .btn-link) { --fs-4: 17px; }
  
    .hero-banner {
      display: block;
      width: 100%;
      padding-top: 100%;
      background: url("/images/sweet-swedish-podcast-sweet-swedish-podcast-pFIBMyl7Qnu.1400x1400.jpg") no-repeat;
      background-size: cover;
      border-radius: 100px;
  
    }
  
  
  
.news_start p{
  font-weight: 600;
  font-size: 39px;
  letter-spacing: 0;
  color: #454B41;
  margin-top: 0;
  font-size: 30.32px;
  line-height: 120%;
  margin-bottom: 15px;
  margin-left: 10px;
  color:  #333;
  text-shadow: 0 0 7px #1500ff;
  margin-top: 0;
  text-align: left;

}

    /**
     * PODCAST
     */
  
    .podcast-list { grid-template-columns: repeat(4, 1fr); }
  
  
}